package {{package}};

import com.threerings.nexus.io.Streamable;
import com.threerings.nexus.io.Streamer;
{{#imports}}
{{#-first}}

{{/-first}}
import {{.}};
{{/imports}}

/**
 * Handles the streaming of {@link {{outerName}}} and/or nested classes.
 */
public class Streamer_{{outerName}}{{outerParams}}
{{#outerIsStreamable}}
    implements Streamer<{{outerType}}>
{{/outerIsStreamable}}
{
{{#inner}}
    /**
     * Handles the streaming of {@link {{outerName}}.{{name}}} instances.
     */
    public static class {{name}}{{params}}
        implements Streamer<{{outerName}}.{{type}}>
    {
        public Class<?> getObjectClass () {
            return {{outerName}}.{{name}}.class;
        }
        public void writeObject (Streamable.Output out, {{outerName}}.{{type}} obj) {
{{#writes}}
            out.write{{ftype}}(obj.{{field}});
{{/writes}}
        }
        public {{outerName}}.{{type}} readObject (Streamable.Input in) {
            return new {{outerName}}.{{type}}(
{{#reads}}
                in.{{fparams}}read{{ftype}}(){{^-last}}, {{/-last}}
{{/reads}}
            );
        }
    }
{{^-last}}

{{/-last}}
{{/inner}}
}
