{{#package}}
package {{package}};

{{/package}}
{{#imports}}
{{#java}}
import {{.}};
{{#-last}}

{{/-last}}
{{/java}}
{{#nexus}}
import {{.}};
{{#-last}}

{{/-last}}
{{/nexus}}
{{#other}}
import {{.}};
{{#-last}}

{{/-last}}
{{/other}}
{{/imports}}
/**
 * Handles the streaming of {@link {{outerName}}} and/or nested classes.
 */
public class Streamer_{{outerName}}{{#outer}}{{typeBounds}}{{/outer}}
{{#outer}}
{{^isAbstract}}
    implements Streamer<{{typeUse}}>
{{/isAbstract}}
{{/outer}}
{
{{#inners}}
    /**
     * Handles the streaming of {@link {{outerName}}.{{name}}} instances.
     */
    public static class {{name}}{{typeBounds}}
{{^isAbstract}}
        implements Streamer<{{typeUse}}>
{{/isAbstract}}
    {
{{^isAbstract}}
        @Override
        public Class<?> getObjectClass () {
            return {{outerName}}.{{name}}.class;
        }

        @Override
        public void writeObject (Streamable.Output out, {{typeUse}} obj) {
            writeObjectImpl(out, obj);
{{#isNexusObject}}
            obj.writeContents(out);
{{/isNexusObject}}
        }

        @Override
        public {{typeUse}} readObject (Streamable.Input in) {
{{#isNexusObject}}
            {{typeUse}} obj = new {{typeUse}}(
{{/isNexusObject}}
{{^isNexusObject}}
            return new {{typeUse}}(
{{/isNexusObject}}
{{#reads}}
                in.{{vtype}}read{{fkind}}(){{^-last}},{{/-last}}
{{/reads}}
            );
{{#isNexusObject}}
            obj.readContents(in);
            return obj;
{{/isNexusObject}}
        }

{{/isAbstract}}
        public static {{typeBounds}} void writeObjectImpl (Streamable.Output out, {{typeUse}} obj) {
{{#hasSuperWrite}}
            Streamer_{{parentEnclosedName}}.writeObjectImpl(out, obj);
{{/hasSuperWrite}}
{{#writes}}
            out.write{{fkind}}(obj.{{fname}});
{{/writes}}
        }
    }

{{/inners}}
{{#outer}}
{{^isAbstract}}
    @Override
    public Class<?> getObjectClass () {
        return {{name}}.class;
    }

    @Override
    public void writeObject (Streamable.Output out, {{typeUse}} obj) {
        writeObjectImpl(out, obj);
{{#isNexusObject}}
        obj.writeContents(out);
{{/isNexusObject}}
    }

    @Override
    public {{typeUse}} readObject (Streamable.Input in) {
{{#isNexusObject}}
        {{typeUse}} obj = new {{typeUse}}(
{{/isNexusObject}}
{{^isNexusObject}}
        return new {{typeUse}}(
{{/isNexusObject}}
{{#reads}}
            in.{{vtype}}read{{fkind}}(){{^-last}},{{/-last}}
{{/reads}}
        );
{{#isNexusObject}}
        obj.readContents(in);
        return obj;
{{/isNexusObject}}
    }

{{/isAbstract}}
    public static {{typeBounds}} void writeObjectImpl (Streamable.Output out, {{typeUse}} obj) {
{{#hasSuperWrite}}
        Streamer_{{parentEnclosedName}}.writeObjectImpl(out, obj);
{{/hasSuperWrite}}
{{#writes}}
        out.write{{fkind}}(obj.{{fname}});
{{/writes}}
    }
{{/outer}}
{{^outer}}
    // no streamer for non-Streamable enclosing class: {{outerName}}
{{/outer}}
}
